<p>Try calling something like:</p>

<code>curl -H "Content-Type: application/json" -d '{"type" : "api-update", "domain" : "example", "apiUrl" : "https://example.prismic.io/api", "secret" : "mySecretPassphrase"}' http://&lt;servername&gt;/webhook</code>